# Node
node_modules/
.npmrc

# Builds
**/dist/
**/build/
/.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*
!.env.example

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage
coverage/
*.tsbuildinfo

# Frontend cache
frontend/.cache/
.parcel-cache

# Misc
*.swp
*.swo
